<nav class="navbar" style="height = 100px;" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://d1iyvc6w63ago2.cloudfront.net/preview/width/1068/1d7c5768f7db7898fbea/fraud-pint-glass-padded.png" class= "image is-200x150" alt="PubReviewer">
    </a>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">

      <span aria-hidden="true" href="/pubs"></span>
      <span aria-hidden="true" href="/pubs/new"></span>
      <span aria-hidden="true" href="/logout"></span>
      <span aria-hidden="true" href="/login"></span>
      <span aria-hidden="true" href="/register"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <% if(locals.isLoggedIn){ %>
      <a href="/pubs" class="navbar-item">All Pubs</a>
      <a href="/pubs/new" class="navbar-item">Add a pub</a>
      <a href="/logout" class="navbar-item">Logout</a>
      <%} else {%>
      <a href="/login" class="navbar-item">Login</a>
      <a href="/register" class="navbar-item">Register</a>
      <% } %>

    </div>
  </div>
</nav>
