<form action="/pubs" method="post">
    <div>
        <label for="Picture">Picture of Pub</label>
        <input type="url" name="image" id="image">
    </div>
    <div>
        <label for="Name">Name of Pub</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="Location">Location of Pub</label>
        <input type="text" name="location" id="location">
    </div>
    <div>
        <label for="Description">Description of Pub</label>
        <input type="text" name="description" id="description">
    </div>
    <div>
      <button name="button">Submit</button>
    </div>
</form>
